*{
    margin: 0;
    padding: 0;
}
#nav-outer{
    height: 20vh;
    width: 100vw;
    border: 1px solid black;
    
    display: flex;

}

#nav-in1{
    height: 100%;
    width: 15%;
    
    overflow:hidden;
    background-image: url('recblogo.jpeg');
    background-size: 80%;
    background-repeat:no-repeat;

    
}

#nav-in2{
    height: 100%;
    width: 100%;

  
}
#nav-about{
    height: 49%;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
#nav-about h1{
    color:rgb(0, 208, 255);
}
#nav-main{
    height: 49%;
    width: 90%;
    border: 1px solid black;
color:#f5a819;
  
}
#nav-about p{
    font-weight: 100;
}

#nav-about button{
    height: 50%;
    width: 15vh;
    background-color:hsl(0, 94%, 53%);
    border-radius: 5px;
    
    
}

#nav-main{
    display: flex;
    background-color:#232F3E;
    justify-content: space-evenly;
    align-items: center;
    

}


/* for main page */



#clge-img{
    height:55vh;
    width: 100vw;
     background-image: url('pho1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2rem;
    padding-top: 3%;
    color: rgb(255, 42, 0);
    animation: changeImage 20s linear infinite;
    
}
@keyframes changeImage {
    0%{
        background-image: url('pho1.jpg');
    }/*
     50%{
        background-image: url('stud.jpg');
    }
    100%{
        background-image: url('pho3.jpg.crdownload');
    }
  75%{
        background-image: url('');
    }
    100%{
        background-image: url('');
    }
*/
}

 #greet{
    height:30vh ;
    width:100vw ;
    display: flex;


}
#motiv{
    height:100%;
    width: 50%;
    background-color: rgb(176, 222, 243);
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    
}
#branch{
    height:100%;
    width: 50%;
    background-color: rgba(213, 95, 16, 0.06);
}

.heading{
    font-size:2rem ;
    text-align: center;
    margin-top: 35px;
    color: rgb(213, 54, 36);
}
.para{
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}
 .IT{
    height: 30%;
    background-color: #217a7a77;

    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.outer-foot{
    height: 20vh;
    width: 100vw;
    
    background-color: #232F3E;
    padding-top: 3vh;
    padding-left: 5vw;
    display: flex;
    flex-wrap: wrap;
}
.inner-foot{
    height: 18vh;
    width:88vw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.foot{
    height:18vh;
    width:21vw;
    position: relative;
    
}
.foot h4{
    color:#ffbb38;
    font-size: 0.8em;
}
.foot a{
    margin-top: 15px;
    font-size: .8em;
}
.foot li{
    text-decoration: dotted;
    color: chocolate;
    font-size: 1.1rem;
}

#contact-foot{
    color: aliceblue;
    
}
#contact-foot p{
    font-size: 0.8em;
}
#contact-foot h5{
    font-size: 0.9em;
}
@media (max-width:600px) {

    #nav-outer{
        height:15vw;
    }
    #nav-about {
        font-size:0.4rem;
    }
    #nav-about button {
        font-size:0.4rem;
        width: 15vw;
    }
    #nav-main{
        font-size: 0.4rem;
    }
    #nav-main input{
        font-size: 0.5rem;
        size: 15%;
    }

    
    #clge-img{
        height: 40vh;
        font-size: 0.7rem;
    }

    .heading{
        font-size: 1rem;
    }
    .para{
        font-size: 0.5rem;
    }
    .foot{
    
        width: 49%;
        gap: 20px;
    }
    .foot h4{
        
        font-size: 0.4em;
    }
    .foot a{
        margin-top: 15px;
        font-size: .4em;
    }
    .foot li{
        text-decoration: dotted;
        color: chocolate;
        font-size: 0.6em;
    }
    .outer-foot{
        height:40vh;

    }
    #contact-foot p{
        font-size: 0.4em;
    }
    #contact-foot h5{
        font-size: 0.5em;
    }
    #branch{
        font-size:0.5rem ;
    }
}




